
 body {
   position: relative;
   background-color: #5287e2;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.25rem;
   font-weight: 900; }
 
 @media (min-width: 54.75em) {
   section {
     display: flex;
     height: 95vh;
     min-height: none; } }
 
 .hidden {
   display: none; }
 
 /* Circle
  * ----------------------------------------------------------------------------- */
 .circle-container {
   padding-top: 2em;
   width: 100%; }
   @media (min-width: 54.75em) {
     .circle-container {
       position: relative;
       width: 50%;
       height: 100%;
       padding-top: 0; } }
 
 .circle {
   position: relative;
   width: 21.375em;
   height: 21.375em;
   border-radius: 50%;
   padding: 0;
   list-style: none;
   left: 50%;
   transform: translateX(-50%); }
   .circle > * {
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 1.25em;
     height: 1.25em;
     margin: -0.625em; }
     .circle > *:nth-of-type(1) {
       transform: rotate(270deg) translate(10.6875em) rotate(-270deg); }
     .circle > *:nth-of-type(2) {
       transform: rotate(284.4deg) translate(10.6875em) rotate(-284.4deg); }
     .circle > *:nth-of-type(3) {
       transform: rotate(298.8deg) translate(10.6875em) rotate(-298.8deg); }
     .circle > *:nth-of-type(4) {
       transform: rotate(313.2deg) translate(10.6875em) rotate(-313.2deg); }
     .circle > *:nth-of-type(5) {
       transform: rotate(327.6deg) translate(10.6875em) rotate(-327.6deg); }
     .circle > *:nth-of-type(6) {
       transform: rotate(342deg) translate(10.6875em) rotate(-342deg); }
     .circle > *:nth-of-type(7) {
       transform: rotate(356.4deg) translate(10.6875em) rotate(-356.4deg); }
     .circle > *:nth-of-type(8) {
       transform: rotate(370.8deg) translate(10.6875em) rotate(-370.8deg); }
     .circle > *:nth-of-type(9) {
       transform: rotate(385.2deg) translate(10.6875em) rotate(-385.2deg); }
     .circle > *:nth-of-type(10) {
       transform: rotate(399.6deg) translate(10.6875em) rotate(-399.6deg); }
     .circle > *:nth-of-type(11) {
       transform: rotate(414deg) translate(10.6875em) rotate(-414deg); }
     .circle > *:nth-of-type(12) {
       transform: rotate(428.4deg) translate(10.6875em) rotate(-428.4deg); }
     .circle > *:nth-of-type(13) {
       transform: rotate(442.8deg) translate(10.6875em) rotate(-442.8deg); }
     .circle > *:nth-of-type(14) {
       transform: rotate(457.2deg) translate(10.6875em) rotate(-457.2deg); }
     .circle > *:nth-of-type(15) {
       transform: rotate(471.6deg) translate(10.6875em) rotate(-471.6deg); }
     .circle > *:nth-of-type(16) {
       transform: rotate(486deg) translate(10.6875em) rotate(-486deg); }
     .circle > *:nth-of-type(17) {
       transform: rotate(500.4deg) translate(10.6875em) rotate(-500.4deg); }
     .circle > *:nth-of-type(18) {
       transform: rotate(514.8deg) translate(10.6875em) rotate(-514.8deg); }
     .circle > *:nth-of-type(19) {
       transform: rotate(529.2deg) translate(10.6875em) rotate(-529.2deg); }
     .circle > *:nth-of-type(20) {
       transform: rotate(543.6deg) translate(10.6875em) rotate(-543.6deg); }
     .circle > *:nth-of-type(21) {
       transform: rotate(558deg) translate(10.6875em) rotate(-558deg); }
     .circle > *:nth-of-type(22) {
       transform: rotate(572.4deg) translate(10.6875em) rotate(-572.4deg); }
     .circle > *:nth-of-type(23) {
       transform: rotate(586.8deg) translate(10.6875em) rotate(-586.8deg); }
     .circle > *:nth-of-type(24) {
       transform: rotate(601.2deg) translate(10.6875em) rotate(-601.2deg); }
     .circle > *:nth-of-type(25) {
       transform: rotate(615.6deg) translate(10.6875em) rotate(-615.6deg); }
   @media (min-width: 54.75em) {
     .circle {
       position: relative;
       width: 22.5em;
       height: 22.5em;
       border-radius: 50%;
       padding: 0;
       list-style: none;
       position: absolute;
       top: 50%;
       left: 50%;
       margin: 0;
       transform: translate(-50%, -50%); }
       .circle > * {
         display: block;
         position: absolute;
         top: 50%;
         left: 50%;
         width: 2.25em;
         height: 2.25em;
         margin: -1.125em; }
         .circle > *:nth-of-type(1) {
           transform: rotate(270deg) translate(11.25em) rotate(-270deg); }
         .circle > *:nth-of-type(2) {
           transform: rotate(284.4deg) translate(11.25em) rotate(-284.4deg); }
         .circle > *:nth-of-type(3) {
           transform: rotate(298.8deg) translate(11.25em) rotate(-298.8deg); }
         .circle > *:nth-of-type(4) {
           transform: rotate(313.2deg) translate(11.25em) rotate(-313.2deg); }
         .circle > *:nth-of-type(5) {
           transform: rotate(327.6deg) translate(11.25em) rotate(-327.6deg); }
         .circle > *:nth-of-type(6) {
           transform: rotate(342deg) translate(11.25em) rotate(-342deg); }
         .circle > *:nth-of-type(7) {
           transform: rotate(356.4deg) translate(11.25em) rotate(-356.4deg); }
         .circle > *:nth-of-type(8) {
           transform: rotate(370.8deg) translate(11.25em) rotate(-370.8deg); }
         .circle > *:nth-of-type(9) {
           transform: rotate(385.2deg) translate(11.25em) rotate(-385.2deg); }
         .circle > *:nth-of-type(10) {
           transform: rotate(399.6deg) translate(11.25em) rotate(-399.6deg); }
         .circle > *:nth-of-type(11) {
           transform: rotate(414deg) translate(11.25em) rotate(-414deg); }
         .circle > *:nth-of-type(12) {
           transform: rotate(428.4deg) translate(11.25em) rotate(-428.4deg); }
         .circle > *:nth-of-type(13) {
           transform: rotate(442.8deg) translate(11.25em) rotate(-442.8deg); }
         .circle > *:nth-of-type(14) {
           transform: rotate(457.2deg) translate(11.25em) rotate(-457.2deg); }
         .circle > *:nth-of-type(15) {
           transform: rotate(471.6deg) translate(11.25em) rotate(-471.6deg); }
         .circle > *:nth-of-type(16) {
           transform: rotate(486deg) translate(11.25em) rotate(-486deg); }
         .circle > *:nth-of-type(17) {
           transform: rotate(500.4deg) translate(11.25em) rotate(-500.4deg); }
         .circle > *:nth-of-type(18) {
           transform: rotate(514.8deg) translate(11.25em) rotate(-514.8deg); }
         .circle > *:nth-of-type(19) {
           transform: rotate(529.2deg) translate(11.25em) rotate(-529.2deg); }
         .circle > *:nth-of-type(20) {
           transform: rotate(543.6deg) translate(11.25em) rotate(-543.6deg); }
         .circle > *:nth-of-type(21) {
           transform: rotate(558deg) translate(11.25em) rotate(-558deg); }
         .circle > *:nth-of-type(22) {
           transform: rotate(572.4deg) translate(11.25em) rotate(-572.4deg); }
         .circle > *:nth-of-type(23) {
           transform: rotate(586.8deg) translate(11.25em) rotate(-586.8deg); }
         .circle > *:nth-of-type(24) {
           transform: rotate(601.2deg) translate(11.25em) rotate(-601.2deg); }
         .circle > *:nth-of-type(25) {
           transform: rotate(615.6deg) translate(11.25em) rotate(-615.6deg); } }
 .circle .item {
     display: block;
     width: 2.5em;
     height: 2.5em;
     transition: all .3s ease-in-out;
     border: 2px solid #fff;
     border-radius: 50%;
     background-image: radial-gradient(circle, #0074d9, #004b8d);
     color: #fff;
     line-height: 2.5em;
     text-align: center;
     text-decoration: none;
     cursor: default; }
     .circle .item--success {
       background-image: radial-gradient(circle, #9ee379, #4caf50); }
     .circle .item--failure {
       background-image: radial-gradient(circle, #b9121b, #8e001c); }
      .circle .item--skiped {
      background-image: radial-gradient(circle, #ff872b, #b65e1b); }
.input{
    margin: auto;
}
.input form{
    width: 30rem;
}
.word{
    height: 3rem;
    font-size: 2rem;
    border-radius: 30px;
    
}
.next{
    background: rgb(248, 146, 37);
    border-radius: 30px;
    padding: 1rem;
    padding-left: 11rem;
    padding-right: 11rem;
    position:relative;
    top:1.5rem;
    text-decoration: none;
    color:#000;
}
.next:hover{
    background-color:  rgb(242, 166, 85);
}
.fa-arrow-circle-right{
    color:rgb(5, 148, 5);
    font-size: 2.4rem;

  }
.question{
  position: relative;
  top:65%;
  left:13.5%;
  height: 20rem;
  width: 23rem;
  color:whitesmoke;
}
#w{
 text-align: center;
 font-size: 3rem;
}
#que{
  position: relative;
  top: -20%;
  left:0%;
  padding-left: 1rem;
  text-align: center;
}
.disabled 
    {
        cursor: not-allowed;
        background-color: rgb(229, 229, 229) !important;
    }
.login{
  background: rgb(255, 255, 255);
  border:1rem solid rgb(134, 197, 238);
  border-radius: 1rem;
  position: fixed;
  top: 5rem;
  left: 25rem;
  width: 35rem;
  height: 20rem;
  text-align: center;
  padding: 1rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  font-size:50px;
  color:#434343;
}